:root {
    --color-accent: #2270e4;
    --color-accent-dark: #195fc8;
    --color-accent-dark-2: #124591;

    --color-warning: yellow;

    --color-danger: red;

    --color-black: #111827;

    --color-white: white;

    --color-grey-light-2: #d1d5db;
    --color-grey-light: #9ca3af;
    --color-grey: #4b5563;
    --color-grey-dark: #374151;
    --color-grey-dark-2: #1f2937;

    --radius: 0.3rem;

    --medium-width: 44rem;
    --large-width: 78rem;

    --font-sm: 0.8rem;
    --font-xs: 0.7rem;

    --transition: 150ms ease-in-out;

    --input-height: 2rem;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
}

body {
    margin: 0;
}

body,
input {
    font-family: "Open Sans";
    color: var(--color-black);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1,
h2,
h3,
h4,
.subtitle {
    font-family: "Overpass Mono";
}

p {
    margin: 0.25rem 0;
}

label {
    margin-bottom: 0.25rem;
}

.text-sm {
    font-size: 0.8rem;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.content--medium {
    max-width: var(--medium-width);
}

.content--large {
    max-width: var(--large-width);
}

.font-extra-bold {
    font-weight: 800;
}

.field {
    margin-bottom: 0.5rem;
}

.field-error {
    color: red;
}

.spinner > .spin {
    border-color: var(--color-grey-light-2);
    border-top-color: var(--color-accent);
}
