.sidebar__list__item__room {
    display: flex;
    align-items: center;
}

.sidebar__list__item__room__label {
    flex: 1 0 auto;
}

.sidebar__list__item__room__badge {
    flex: 0 0 auto;
    background-color: var(--color-accent);
    color: white;
    border-radius: var(--radius);
    padding: 0 0.25rem;
    height: 1rem;
    line-height: 1rem;
}
