.message-list__item {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--color-white);
    border-radius: var(--radius);
    min-width: 10rem;
    max-width: 80%;
}

.message-list__item--out {
    background-color: var(--color-accent);
    margin-left: auto;
}

.message-list__item--in {
    background-color: var(--color-black);
}

.message-list__item__sender {
    opacity: 0.75;
}

.message-list__item__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
}

.message-list__item__text {
    text-align: right;
}

.message-list__item__time {
    opacity: 0.75;
    font-size: var(--font-xs);
    align-self: flex-end;
}

.message-list__item__time {
    text-align: right;
}
