.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    height: 100%;
}

.sidebar__header {
    padding: 1.5rem 1rem;
}

.sidebar__header__title {
    color: white;
}

.sidebar__footer {
    margin-top: auto;
    padding: 0.5rem 1rem;
}
