.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
}

.sidebar .sidebar__header {
    padding: 1.5rem 1rem;
}

.sidebar .sidebar__header .sidebar__header__title {
    color: white;
}

.sidebar .sidebar__footer {
    margin-top: auto;
    padding: 0.5rem 1rem;
}
