.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    height: 100%;
    padding-left: 3rem;
}

.sidebar__header {
    padding: 1.5rem 1rem;
}

.sidebar__header__title {
    color: var(--color-white);
}

.sidebar__list {
    flex: 1 1 0;
    overflow: auto;
}
