.logged {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 15rem);
    overflow: hidden;
    border-radius: var(--radius);
}

.logged > :first-child {
    flex: 0 0 300px;
}

.logged > :last-child {
    flex: 1 1 auto;
}
