.chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat__header {
    background-color: var(--color-grey-light-2);
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-grey-light);
}

.chat__header__content {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.chat__header__content__title {
    margin-right: auto;
}

.chat__messages {
    flex: 1 1 0;
    overflow: auto;
}
