.master-detail {
    display: flex;
    align-items: stretch;
    min-height: calc(100vh - 15rem);
    height: 100vh;
}

.master-detail__master {
    flex: 0 0 300px;
}

.master-detail__detail {
    flex: 1 1 auto;
}
