.sidebar__list__item {
    padding: 0 1rem;
    color: white;
    height: 1.5rem;
    cursor: pointer;
}

.sidebar__list__item:hover {
    background-color: var(--color-accent);
}

.sidebar__list__item--active,
.sidebar__list__item:active {
    background-color: var(--color-accent-dark);
}

.sidebar__list__item--disabled {
    color: grey;
    pointer-events: none;
}

.sidebar__list__item--unread {
    display: flex;
    align-items: center;
}

.sidebar__list__item__label {
    flex: 1 0 auto;
}

.sidebar__list__item__badge {
    flex: 0 0 auto;
    background-color: var(--color-accent);
    color: white;
    border-radius: var(--radius);
    padding: 0 0.25rem;
    height: 1rem;
    line-height: 1rem;
}
