.logged-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.logged-screen__header {
    flex: 0 0 auto;
}

.logged-screen__content {
    flex: 1 1 0;
    overflow: hidden;
}

.logged-screen__content__centered {
    padding: 4rem 2rem 0;
}
