@media (min-width: 996px) {
    .modal .modal-content {
        width: 37rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.modal__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);
    padding-bottom: 0.75rem;
    margin-bottom: 1rem;
}

.modal__header__title {
    margin-right: auto;
    font-weight: bold;
}

.modal__header__close {
    height: 1.5rem;
    margin-left: auto;
    cursor: pointer;
}

.modal__header__close:hover {
    border-radius: var(--radius);
    background-color: var(--color-grey-light-2);
}

.modal__header__close:active {
    background-color: var(--color-grey-light);
}

.modal__footer {
    border-top: 1px solid var(--color-grey-light-2);
    padding-top: 0.75rem;
    margin-top: 1rem;
    text-align: right;
}
