.message-sender {
    background-color: var(--color-grey-light-2);
    padding: 1rem 0 1.5rem;
    border-top: 1px solid var(--color-grey-light);
}

.message-sender__contents {
    display: flex;
    padding: 0 2rem;
}

.message-sender__field {
    margin-right: 0.5rem;
    flex: 1 0 auto;
}
