.signup {
    background-color: var(--color-black);
    color: white;
    min-height: 100vh;
    padding: max(2vh, 5rem) 2rem 0;
}

.signup__content {
    position: relative;
    z-index: 2;
    min-height: 100vh;
}

.signup__headline {
    margin-bottom: 3rem;
    font-size: max(3rem, 7vw);
    color: var(--color-accent);
}

.signup__subtitle {
    font-size: max(1.25rem, 2vw);
    margin-bottom: 2.5rem;
}

@media (min-width: 996px) {
    .signup {
        padding-top: 0;
    }

    .signup__content__centered {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
